.about {
	background: $primary;
	text-align: center;
	padding: 150px 0;
	z-index: 301;
}

.about-title {
	border-bottom: 10px solid $accent;
	color: white;
	display: inline;
	font-family: $font-family-secondary-bold;
	font-size: 55px;
	text-transform: uppercase;
}

.about-description {
	color: rgba(255,255,255, .7);
	font-family: $font-family-sans-serif;
	font-size: 22px;
	line-height: 34px;
	margin: 60px 0 0;

	a {
		color: rgba(255,255,255, .85);
		font-decoration: $accent;
	}

	a:hover {
		color: rgba(255,255,255, .5);
	}

	p {
		color: rgba($primary, 1);
	}
}