.footer {
	background: white;
	padding: 85px 0 30px;
}

.footer-description {
	color: $accent2;
	font-family: $font-family-sans-serif;
	font-size: 16px;
	text-align: center;

	a {
		color: $primary;
		border-bottom: 2px solid $accent;
		font-weight: 600;
	}
}

@media (min-width: $screen-md-min) {
	.footer-description {
		text-align: left;
	}

	.footer-description:last-child {
		text-align: right;
	}
}