/* Custom TopbarColor
		========================================================================== */
.topbar {
	background: rgba(256,256,256, 1);
	box-shadow: none;
	.name {
		color: rgba($accent2, 1);
	}
}

#intro {
	.topbar {
		background: rgba($color-green, .02);
		box-shadow: none;
		.topbar-link {
			color: rgba($color-green-dark, .8);
		}
		.topbar-link:hover {
			color: rgba($color-green-dark, 1);
		}
		.name {
			color: rgba($color-green, 1);
		}
		.by {
			color: rgba($color-green-dark, .8);
		}
		#topbar-button-download {
			color: rgba($color-green-dark, .8);
		}
	}
	.guide-header {
		background: rgba($color-green, .02);
		box-shadow: none;
	}
	.guide-header-title {
		color: rgba($color-green-xdark, .9);
	}
	.docs-content {
	color: rgba($color-green-dark, .8);
		h1, h2, h3, h4, h5, h6, strong, p {
			color: rgba($color-green-dark, .8);
		}
		code {
			background: rgba($color-green, .1);
			color: rgba($color-green, 1);
		}
		a {
			color: rgba($color-green, .8);
		}
		a:hover {
			color: rgba($color-green, 1);
		}
		pre {
			background: rgba(14, 20, 26, 0.9);
			code {
				background: none;
				color: rgba(256,256,256, .95);
			}
		}
		.btn-accent {
			background: rgba($color-green, 1);
			color: rgba($color-green-xdark, .8);
		}	
		.btn-accent:hover {
			background: rgba($color-green, .8);
			color: rgba($color-green-xdark, .7);
		}
	}
	
	.reading-progress {
		background: white;
  		box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
  		.reading-title {
  			line-height: 20px;
  		}
		a.read {
			.reading-title {
				color: rgba($color-green-dark, .5);
			}
		}
		a.reading {
			.reading-title {
				color: rgba($color-green, 1);
			}
		}
		span {
			color: rgba($color-green-dark, .8);
		}
		.reading-title {
			color: rgba($color-green-xdark, .9);
		}
		svg {
			stroke: rgba($color-green, 1);
		}
	}
}

#features {
	.topbar {
		background: rgba($color-reds, .02);
		box-shadow: none;
		.topbar-link {
			color: rgba($color-reds-dark, .8);
		}
		.topbar-link:hover {
			color: rgba($color-reds-dark, 1);
		}
		.name {
			color: rgba($color-reds, 1);
		}
		.by {
			color: rgba($color-reds-dark, .8);
		}
		#topbar-button-download {
			color: rgba($color-reds-dark, .8);
		}
	}
	.guide-header {
		background: rgba($color-reds, .02);
		box-shadow: none;
	}
	.guide-header-title {
		color: rgba($color-reds-xdark, .9);
	}
	.docs-content {
	color: rgba($color-reds-dark, .8);
		h1, h2, h3, h4, h5, h6, strong, p {
			color: rgba($color-reds-dark, .8);
		}
		code {
			background: rgba($color-reds, .1);
			color: rgba($color-reds, 1);
		}
		a {
			color: rgba($color-reds, .8);
		}
		a:hover {
			color: rgba($color-reds, 1);
		}
		pre {
			background: rgba(14, 20, 26, 0.9);
			code {
				background: none;
				color: rgba(256,256,256, .95);
			}
		}
		.btn-accent {
			background: rgba($color-reds, 1);
			color: rgba($color-reds-xdark, .8);
		}	
		.btn-accent:hover {
			background: rgba($color-reds, .8);
			color: rgba($color-reds-xdark, .7);
		}
	}
	.reading-progress {
		background: white;
  		box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
		
		a.read {
			.reading-title {
				color: rgba($color-reds-dark, .5);
			}
		}
		a.reading {
			.reading-title {
				color: rgba($color-reds, 1);
			}
		}
		span {
			color: rgba($color-reds-dark, .8);
		}
		.reading-title {
			color: rgba($color-reds-xdark, .9);
		}
		svg {
			stroke: rgba($color-reds, 1);
		}
	}
}

#advanced {
	.topbar {
		background: rgba($color-purple, .02);
		box-shadow: none;
		.topbar-link {
			color: rgba($color-purple-dark, .8);
		}
		.topbar-link:hover {
			color: rgba($color-purple-dark, 1);
		}
		.name {
			color: rgba($color-purple, 1);
		}
		.by {
			color: rgba($color-purple-dark, .8);
		}
		#topbar-button-download {
			color: rgba($color-purple-dark, .8);
		}
	}
	.guide-header {
		background: rgba($color-purple, .02);
		box-shadow: none;
	}
	.guide-header-title {
		color: rgba($color-purple-xdark, .9);
	}
	.docs-content {
	color: rgba($color-purple-dark, .8);
		h1, h2, h3, h4, h5, h6, strong, p {
			color: rgba($color-purple-dark, .8);
		}
		code {
			background: rgba($color-purple, .1);
			color: rgba($color-purple, 1);
		}
		a {
			color: rgba($color-purple, .8);
		}
		a:hover {
			color: rgba($color-purple, 1);
		}
		pre {
			background: rgba(14, 20, 26, 0.9);
			code {
				background: none;
				color: rgba(256,256,256, .95);
			}
		}
		.btn-accent {
			background: rgba($color-purple, 1);
			color: rgba($color-purple-xdark, .8);
		}	
		.btn-accent:hover {
			background: rgba($color-purple, .8);
			color: rgba($color-purple-xdark, .7);
		}
	}
	.reading-progress {
		background: white;
  		box-shadow: 0 2px 8px rgba(14, 20, 26, 0.2);
		
		a.read {
			.reading-title {
				color: rgba($color-purple-dark, .5);
			}
		}
		a.reading {
			.reading-title {
				color: rgba($color-purple, 1);
			}
		}
		span {
			color: rgba($color-purple-dark, .8);
		}
		.reading-title {
			color: rgba($color-purple-xdark, .9);
		}
		svg {
			stroke: rgba($color-purple, 1);
		}
	}
}

/* Header
		========================================================================== */

.guide-header {
	background: rgba($accent2, 0.04);
	text-align: center;
	padding: 108px 0 96px;
	margin-top: 0;
	box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.50);
}

.guide-header-title {
	color: rgba($primary, .9);
	font-family: $font-family-secondary-bold;
	font-size: 53px;
	font-weight: 400;
	line-height: 60px;
}

.guide-header-title span {
	color: rgba($primary, .9);
	font-family: $font-family-secondary-bold;
	font-weight: 400;
}

/* Topics Button Group
   ========================================================================== */

.guide-topics-container {
	text-align: center;
	margin: 0 0 60px;
}

.guide-topics {
	.btn-default {
		background: white;
	}
}

/* Call to Action Button
   ========================================================================== */

.guide-btn-cta {
	text-align: center;
	margin: 45px 0 0;

	.btn.btn-accent {
		@include anim(all);
		color: $white;

		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.guide-aux-cta {
	font-size: 13px;
	margin: 5px 0 0;
	text-align: center;
}

/* Feedback
   ========================================================================== */

.guide-feedback {
	background: rgba($primary, .02);
	border-radius: 4px;
	padding: 36px 0;
	margin: 60px 0 24px;
	text-align: center;
	width: 100%;

	p {
		line-height: 36px;
		font-family: $font-family-secondary-semibold;
		font-size: 19px;
		color: rgba($primary, .8);
		margin: 0 0 24px;
	}
}

.guide-feedback-btn {
	margin: 0 12px;
	width: 134px;
}

/* Edit on GitHub
   ========================================================================== */

.docs-content .guide-github {
	margin: 0 0 60px;
	width: 100%;
}

.docs-content .guide-github-img {
	background: rgba($primary, .1);
	border-radius: 4px 0 0 4px;
	float: left;
	height: 96px;
	line-height: 96px;
	text-align: center;
	width: 96px;

	img {
    width: 60px;
    height: 53px; }
}

.docs-content .guide-github-text {
	align-items: center;
	background: rgba($primary, .02);
	border-radius: 0 4px 4px 0;
	color: rgba($primary, .6);
	display: flex;
	font-size: 16px;
	font-weight: 600;
	height: 96px;
	margin-left: 96px;
	padding: 0 20px;

	a {
		font-weight: 600;
	}
}

.docs-content .guide-github-text p {
	margin: 0;
}

.docs-content .guide-github-link {
	font-weight: 600;
}

.guide-topic .docs-content pre code {
	background: transparent;
	border: 0;
	color: rgba(white, .9);
}

.docs-content img {
	max-width: 100%;
}

.docs-content em {
	font-style: normal;
}

.guide-topic .sidebar-list-2 .sidebar-link {
	padding-left: 56px;
}

.docs .reading-progress {
	width: 100%;
	background: $accent2;
}

/* Medium screens
   ========================================================================== */

@media (min-width: $screen-md-min) {
	.guide-header {
		padding-top: 30px;
	}
}

@media (max-width: $screen-md-min) {

	// Header --------------------------------------------------------------------

	.sidebar-inverse .sidebar-header {
		background: rgba(white, .3);
		color: white;
	}

	.sidebar-inverse .sidebar-header:hover,
	.sidebar-inverse .sidebar-header:focus,
	.sidebar-inverse .sidebar-header .sidebar-icon {
		color: white;
	}

	// Search --------------------------------------------------------------------

	.sidebar-inverse .sidebar-search .form-control {
		background: white;
		border: 1px solid transparent;

		&:focus {
			border-color: white;
		}
	}

	// First level ---------------------------------------------------------------

	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link:hover,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link:focus,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link-selected,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link-selected:hover,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link-selected:focus {
		background: rgba(white, .1);
		color: white;
	}

	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link:hover .sidebar-icon,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link:focus .sidebar-icon,
	.guide-topic .sidebar-inverse .sidebar-list-1 .sidebar-link-selected .sidebar-icon {
		color: white;
	}

	// Second level ------------------------------------------------------------

	.guide-topic .sidebar-inverse .sidebar-list-2 .sidebar-link:hover,
	.guide-topic .sidebar-inverse .sidebar-list-2 .sidebar-link:focus,
	.guide-topic .sidebar-inverse .sidebar-list-2 .sidebar-link-selected,
	.guide-topic .sidebar-inverse .sidebar-list-2 .sidebar-link-selected:hover,
	.guide-topic .sidebar-inverse .sidebar-list-2 .sidebar-link-selected:focus {
		background: rgba(white, .1);
		color: white;
	}
}


