@media (min-width: $screen-md-min) {
	.topbar {
		top: 0;
		//position: fixed;
	}
}

.topbar {
	background: white;
}

.topbar.docs {
	//position: fixed;
	//z-index: 9999;
	left: 284;
}

.topbar-logo-link {
	-webkit-animation: fadeIn 1s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  	animation: fadeIn 1s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  	align-items: center;

	.icon {
		color: $accent;
		font-size: 24px;
		position: relative;
		top: 5px;
	}

	.name {
		color: rgba($primary, .9);
		font-family: "Galano Bold", sans-serif;
		font-size: 17px;
		font-weight: 400;
		margin-left: 8px;
		text-transform: uppercase;
		border-bottom: 4px solid $accent;
		span {
			color: rgba($primary, .6);
		}
	}

	.by {
		color: rgba($primary, 0.5);
		font-family: "Galano Medium", sans-serif;
		font-size: 12px;
		font-weight: 400;
		margin-left: 8px;
		position: relative;
		top: -2px;
		display: none;
	}
}

.topbar-list {
	margin-right: 8px;
	align-items: stretch;
	margin-top: 3px;
}

.topbar-link {
	color: rgba($primary, .8);
	-webkit-animation: fadeIn .6s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  	animation: fadeIn .6s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 forwards;
  	padding-bottom: 2px;
  	border-bottom: 5px solid transparent;
  	-webkit-transition: border-bottom ease .3s;
  	transition: border-bottom .6s ease;
}

.topbar-link:hover {
	color: rgba($primary, .8);
	padding-bottom: 2px;
	border-bottom: 4px solid #FFCC00;
}

#topbar-button {
	align-items: center;
	margin-left: 30px;
	display: flex;
}

@media (max-width: 720px) {
	#topbar-button {
		display: none;
	}
}

#docs {
	border-radius: 1px;
	.topbar-logo-link {
		-webkit-animation: none;
  		animation: none;
	}
	.topbar-link {
		-webkit-animation: none;
  		animation: none;
	}
  }

#updates {
	.topbar-logo-link {
		-webkit-animation: none;
  		animation: none;
	}
	.topbar-link {
		-webkit-animation: none;
  		animation: none;
	}
  }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media (min-width: $screen-sm-min) {
	.topbar-logo-link {
		.by {
			display: block;
		}
	}
}
