{namespace mainDocs}

/**
 * @param content
 * @param? elementClasses
 */
{template .render}
	<div class="{$elementClasses ?: 'main'}">
		<main class="content">
			<div class="sidebar-offset">
				{call Topbar.render data="all" /}
			</div>
			{$content}
		</main>
	</div>
{/template}
